<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>zh_CN</string>
    <key>CFBundleDisplayName</key>
    <string>电源快捷按钮</string>
	<key>CFBundleExecutable</key>
	<string>PowerButtons</string>
	<key>CFBundleIdentifier</key>
    <string>local.powerbuttons.app</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>电源快捷按钮</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
    <key>LSMinimumSystemVersion</key>
    <string>12.0</string>
    <key>NSAppleEventsUsageDescription</key>
    <string>用于执行用户确认的重启和关机操作。</string>
    <key>NSHighResolutionCapable</key>
    <true/>
</dict>
</plist>
